/*=======================
 * Common SCSS - Header, Footer, etc
 * GH '16  Theme 
 * @author AY
 *=======================*/

 
// GovHack Site Switcher main 
.gh-ss {

    position: relative;
    z-index: 6000;
    font-family: Montserrat, 'Open Sans', sans-serif;
    background: $gh-darkgrey;
    color: white;
    
    a {
        text-decoration: none;
        border-bottom: none;
    }

    // UL represents the menu container
    ul {
        padding: 0;
        margin: 0;
        display: flex;
        list-style: none;
        justify-content: flex-end;
        li {
            margin: 0;
            padding: 0;
            a {
                display: block;
                margin: 0;
                padding: .45em 1em;
                transition: all .2s ease;
                border-bottom: none;
                color: ghostwhite;
            }
            a:hover, a:active, a:focus {
                background: $gh-grey;
                color: white;
            }
        }
        li:nth-child(odd) a {
            border-top: 3px solid $gh-pink;
        }
        li:nth-child(even) a{
            border-top: 3px solid $gh-blue;
        }
    }
    
}

// Body top spacer hook, or else the host may choose to position or style the gh-ss in another way
body.with-gh-ss {
    .gh-ss {
        display: none;
    }
    @media screen and (min-width: 600px){
        position: relative;
        &.block-padded::before {
            content: '';
            display: block;
            height: 40px;
            background: $gh-darkgrey;
        }
        &:not(.block-padded)::before {
            padding-top: 40px;
        }
        .gh-ss {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            &.is-fixed {
                position: fixed;
            }
        }    
    }
}
 