/*=======================
 * Variables SCSS  :: COLORS ONLY
 * GH '16  Theme 
 * @author AY
 *=======================*/
 
// http://sass-lang.com/documentation/Sass/Script/Functions.html

// Colors
$color-orange: #f39c12; 
$color-sunflower: #f1c40f; 
$color-wet-asphalt: #34495e; 
$color-midnight-blue: #2c3e50; 
$color-alizarin: #e74c3c; 
$color-pomegranate: #c0392b; 
$color-peter-river: #3498db; 
$color-belize-hole: #2e8dcc; 
$color-amethyst: #9b59b6; 
$color-wisteria: #8e44ad; 
$color-turquoise: #1abc9c; 
$color-green-sea: #16a085; 
$color-clouds: #ecf0f1; 
$color-silver: #bdc3c7; 

// GH colors
$gh-blue: #4C9AD2;
$gh-lightblue: lighten($gh-blue, 20%);
$gh-pink: #CA1553;
$gh-lightpink: lighten($gh-pink, 20%);

$gh-grey: #848283;
$gh-lightgrey: lighten($gh-grey, 20%);
$gh-darkgrey: darken($gh-grey, 30%);
$gh-darkgrey: #23282D;
$gh-border-grey: whitesmoke;

$gh-title-color: #333;
$gh-text-color: #242424;
$gh-background-color: white;
